body {
  font-family: 'Bayon';
  background-color: #fefeff;
  font-weight: 400;
}

.layout_padding {
  padding: 75px 0;
}

.layout_padding2 {
  padding: 45px 0;
}

.layout_padding2-top {
  padding-top: 45px;
}

.layout_padding-top {
  padding-top: 75px;
}

.layout_padding-bottom {
  padding-bottom: 75px;
}

.call_to-btn {
  display: inline-block;
  padding: 15px 45px;
  border-radius: 10px;
  font-size: 15px;
  background-color: #ffffff;
  color: #262627;
  font-weight: 600;
  transition: all 0.3s ease 0s;
}

.call_to-btn img {
  width: 18px;
  margin-left: 10px;
}

.btn_on-hover {
  transition: all 0.3s ease 0s;
}

.call_to-btn:hover,
.btn_on-hover:hover {
  -webkit-box-shadow: 0px 5px 10px -5px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 0px 5px 10px -5px rgba(0, 0, 0, 0.7);
  box-shadow: 0px 5px 10px -5px rgba(0, 0, 0, 0.7);
  transform: translateY(-7px);
}

.main-heading {
  color: #082465;
  font-weight: bold;
  text-align: center;
}

/*header section*/

.header_section {
  padding-top: 10px;
  font-family: 'Poppins', sans-serif;

}

nav.navbar.navbar-expand-lg {

  padding: 10px 0;
}

.custom_nav-container.navbar-expand-lg .navbar-nav .nav-link {
  padding: 10px 20px;
  color: #f7f6f7;
  text-align: center;
}


a,
a:hover,
a:focus {
  text-decoration: none;
}

a:hover,
a:focus {
  color: initial;
}

.btn,
.btn:focus {
  outline: none !important;
  box-shadow: none;
}

.top_container {
  position: relative;
}



.top_container::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(241, 240, 238, 1);
  background-size: 100% 100%;
  background-position: right bottom;
  background-repeat: no-repeat;
  z-index: -1;
}

.sub_page .top_container::before {
  background-color: #fdd31d;
  background-image: none;
}



.sub_page .top_container::after {
  display: none;
}


.navbar-brand img {
  width: 25px;
  margin-right: 7px;
}


.custom_nav-container .nav_search-btn {
  background-image: url(../images/search-icon.png);
  background-size: 22px;
  background-repeat: no-repeat;
  background-position-y: 7px;
  width: 35px;
  height: 35px;
  padding: 0;
  border: none;
}

.navbar-brand {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.navbar-brand span {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  font-weight: 700;
  color: #fefefe;
  background: black;
  width: 170px;
  height: 70px;
}

.custom_nav-container {
  z-index: 99999;
  padding: 15px 0;
}

.custom_nav-container .navbar-toggler {
  outline: none;
}

.custom_nav-container .navbar-toggler .navbar-toggler-icon {
  background-image: url(../images/menu.png);
  background-size: 40px;
}

/*end header section*/

/* hero section */
.hero-container {
  display: grid;
  padding-top: 80px;
  padding-bottom: 350px;
  background-image: url(../images/bg\ 2.png);
  background-size: cover;
}

.hero_detail-box {
  width: 700px; 
  color: rgba(0, 0, 0, 1);
  font-family: Bayon;
}

.hero_img-container {
  width: 68%;
  margin-right: -8%;
  margin-top: -5%;
}

.hero_img-container img {
  width: 100%;
}

.hero_detail-box h1 {
  position: relative;
  font-size: 48px;
  font-weight: 400;
  line-height: 87px;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(0, 0, 0, 1);
  width: fit-content;
  left: 100px;
}


.hero_detail-box p {
  position: relative;
  font-family: Bayon;
  font-size: 32px;
  font-weight: 400;
  line-height: 58px;
  letter-spacing: 0em;
  text-align: left;
  margin-top: 20px;
  margin-bottom: 35px;
  left: 100px;
  max-width: 600px;
}


/* end hero section */

/* common style for some sections */
.common_style>section {
  padding: 50px 0;
}

.common_style .row {
  align-items: center;
}

.common_style h3 {
  font-weight: 600;
  color: #151516;
}

.common_style p {
  font-weight: 600;
  color: #4e4f50;
  margin: 30px 0 50px 0;
}

.common_style img {
  width: 100%;
}


/* end common style */

/* about section */
.about_section {
  text-align: right;
}

.about_section a {
  background-color: #6ebca8;
  color: #fefeff;
}

/* end about section */

/* example section */
.example_section{
 height: 700px;
}
.rectangle-background {
  background: rgba(245, 239, 231, 1);
  width: 410px;
  height: 280px;
  margin-left:70px;
  z-index: -1;
}

.screenshot {
  position: relative;
  width: 420px !important;
  height: 271px;
  margin-left: 30px;
  top: -250px;
}

.does-the-work {
  position: relative;
  color: #000;
  font-family: Bayon;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-left: 30px;
  top: -200px;
  width: 350px;
  text-align: center;
}
.improve-it {
  position: relative;
  color: #000;
  font-family: Bayon;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-left: 30px;
  top: -200px;
  width: 350px;
  text-align: center;
  background: #D9D9D9;
}

.example-container {
  background: rgba(245, 239, 231, 1);
  width: 705px;
  height: 414px;
  margin-bottom: 310px;
}
.example-smaller-container {
  position: relative;
  width: 681px;
  height: 416px;
  background: #F3CCC2;
  top: 30px;
  margin-left: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.example-smaller-container img {
  width: 502px;
  height: 347px;
}
.example-subtext {
  color: #000;
  font-family: Bayon;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  position: relative;
  top: -250px;
  text-align: center;
}
/* end example section */

/* register section */
.register_section {
 display: flex;
 align-content: center;
 justify-content: center;
}

.register_box {
  width: 904px;
  height: 742px;
  background: #F1F0EE;
  display: flex;
  flex-direction: column;
}

.register_box_title {
  color: #000;
  font-family: Bayon;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-left: 30px;
  margin-top: 20px;
}

.register_box_input {
    color: #000;
  font-family: Bayon;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-left: 30px;
  margin-top: 20px;
  background: white;
  width: 786px;
  height: 81px;
}

/* end register section */
/* footer section*/

.footer_section {
  background-color: #d8b109;
  padding: 20px 15px;
  font-family: 'Poppins', sans-serif;

}

.footer_section p {
  color: #fdfdfe;
  margin: 0;
  text-align: center;
}

.footer_section a {
  color: #fdfdfe;
}

#about_top_container {
  background-color: #E5B73B !important;
}
/* end footer section*/